    <form class="form-horizontal" name="userForm" novalidate ng-submit="uc.save(userForm)">

        <div class="form-group" >
            <input type="text" class="form-control" required name="name" ng-model="uc.user.name">
            <p class="text-danger" ng-if="userForm.name.$invalid && userForm.name.$touched">obligatoire<p>
        </div>

        <div class="form-group" >
            <input type="email" class="form-control" name="email" ng-model="uc.user.email">
            <p class="text-danger" ng-if="userForm.email.$error.email && userForm.email.$touched">email non valid<p>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.bio.$invalid && userForm.bio.$touched }">
            <input type="textarea" class="form-control" ng-minlength="10" name="bio" ng-model="uc.user.bio">
            <p class="text-danger" ng-if="userForm.bio.$invalid && userForm.bio.$touched">Bio trop courte<p>
        </div>

        <button ng-disabled="userForm.$invalid" class="btn btn-success" type="submit">save</button>
    </form>